<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="create/" method="post">
        
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name">
        </p>
        
        <input type="submit" value="Сохранить">
    </form>
    {% if people | length > 0 %}
    <h2>Список пользователей</h2>
    <table>
        <thead><th>Id</th><th>Имя</th><th></th></thead>
        {% for person in people %}
        <tr>
            <td>{{person.id}}</td>
            <td>{{person.name}}</td>
            
            <td><a href="edit/{{person.id}}">Изменить</a> | <a href="delete/{{person.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>